.arrow-toggle-container {
  position: relative;
  height: 16px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.arrow-toggle-value {
  color: cyan;
  font-size: 16px;
  margin-left: 4px;
  margin-right: 4px;
}